.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle{
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsItem{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1rem;
}

.lsItem>label{
  font-size: 1.2rem;
}

.lsItem>input{
  height: 3rem;
  border: none;
  padding: .5remx;
}

.lsItem>span{
    font-size: 1.5rem;
    height: 3rem;
    padding: .5rem;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lsOptions{
  padding: 1rem;
}

.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: #555;
    font-size: 1.2rem;
}

.lsOptionInput{
    width: 5rem;
}

.listSearch>button{
  padding: 1rem;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult{
    flex:3;
}