.footer{
    width: 100%;
    width: 100.24rem;
    font-size: 1.2rem;
}

.fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.fList{
    list-style: none;
    padding: 0;
}

.fListItem{
    margin-bottom: 1rem;
    color: rgb(36, 80, 122);
    cursor: pointer;
}
